@keyframes grow {

  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes appearance {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon__core {
  transition: fill .3s ease 0.03s;
}

.like-icon__main-body {
  transition: fill .3s ease;
}

.like-icon:hover .like-icon__core {
  fill: var(--heart-hover-color);
  transition: fill .3s ease;
}

.like-icon:hover .like-icon__main-body {
  fill: var(--heart-hover-color);
  transition: fill .3s ease 0.05s;
}

.like-icon:active .like-icon__core {
  fill: var(--heart-active-color);
  transition: fill .3s ease;
}

.like-icon:active .like-icon__main-body {
  fill: var(--heart-active-color);
  transition: fill .3s ease 0.05s;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--heart-active-color);
  transition: fill .3s ease;
}

.like-icon.is-liked .like-icon__main-body {
  fill: var(--heart-active-color);
  transition: fill .3s ease .03s;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--heart-active-color);
  transition: fill .3s ease .06s;;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: grow .3s ease-in .1s;
}

.like-icon.is-liked .like-icon__sparks {
  animation: appearance .3s ease-in .3s;
}
