.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 250px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--normal-font-weight);
}

.header {
  margin-block-start: 100px;
  border: 2px solid var(--border-color);
  padding-block-start: 128px;
  padding-block-end: 128px;
  text-align: center;
  background-color: var(--card-bg-color);
  inline-size: var(--content-width);
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--normal-font-weight);
  font-size: var(--header-title-size);
  text-transform: uppercase;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  margin-block-end: 100px;
  inline-size: var(--content-width);
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.card {
  border: 2px solid var(--border-color);
  background-color: var(--card-bg-color);
}

.card__img img {
  object-fit: cover;
  object-position: right;
  block-size: 100%;
}

.watermark {
  position: absolute;
  top: 23px;
  right: 25px;
  z-index: 2;
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--normal-font-weight);
  font-size: 14px;
  text-shadow:
    -1px -1px 0 var(--text-border-color),
     1px -1px 0 var(--text-border-color),
    -1px  1px 0 var(--text-border-color),
     1px  1px 0 var(--text-border-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-border-color)) or (-webkit-text-stroke: 1px var(--text-border-color))) {

  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-border-color);
    text-stroke: 1px var(--text-border-color);
  }
}

.card__img {
  position: relative;
  border-block-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  overflow: hidden;
  block-size: 700px;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-font-weight);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px;
  font-size: 18px;
  line-height: 1.16em;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--shadow-color);
  transition: border 0.3s ease;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-self: flex-end;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.memory-save {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  block-size: 55px;
  inline-size: 339px;
}

.dialog__submit {
  margin-block-start: 30px;
  padding: 12.5px 0;
  text-transform: uppercase;
  inline-size: 100%;
}

.btn {
  position: relative;
  border: 2px solid var(--border-color);
  font-family: var(--accent-font), monospace;
  font-weight: var(--normal-font-weight);
  font-size: 14px;
  line-height: 0.9em;
  background-color: var(--card-bg-color);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--btn-hover-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: top left;
  scale: 0 1;
}

.btn:hover::before {
  scale: 1 1;
}

.btn:focus,
.btn:focus-visible {
  box-shadow: 2px 2px 0 var(--shadow-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.memory-save-icon {
  position: relative;
  color: var(--btn-text-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.filter-sepia {
  filter: sepia(70%);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-brightness {
  filter: hue-rotate(30deg) brightness(130%) opacity(0.95);
}

.filter-blur {
  filter: blur(15px);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-grayscale {
  filter: grayscale(0.5) sepia(70%);
}

.filter-mix {
  filter: hue-rotate(90deg) opacity(0.7) blur(1px);
}

.dialog {
  border: 2px solid var(--border-color);
  padding: 30px;
  max-inline-size: 357px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
}

html:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font), monospace;
  font-weight: var(--normal-font-weight);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.dialog-save-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

@media (width <= 700px) {

  .header {
    padding-block-start: 120px;
    padding-block-end: 120px;
  }

  .card__img {
    block-size: 375px;
  }

  .card__img img {
    object-position: right;
  }

  .card__img::before {
    top: 20px;
    right: 15px;
  }

  .watermark {
    top: 20px;
    right: 12px;
  }

  .memory-save {
    flex-direction: column;
    block-size: 84px;
    inline-size: min(100%, 310px);
  }

  .memory-save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 30px 40px;
    max-inline-size: min(100%, 341px);
  }
}

@media (width <= 300px) {

  .card__img {
    block-size: 250px;
  }

  .dialog {
    padding: 20px;
  }

  .dialog__title {
    font-size: 10px;
  }
}
