:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular', monospace;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --border-color: #000;
  --main-text-color: #000;
  --text-border-color: #fff;
  --card-bg-color: #fff;
  --background-image: repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(180deg, #e7e7e7, #1a1a1a);

}
